@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 20px;
	border-radius: 50%;
	height: 20px;
	background: white;
	cursor: pointer;
}
